---
layout: archive
title: "Keynotes and Invited Talks"
permalink: /talks/
author_profile: true
---

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->

<ol>
  <li> <strong>[2021]</strong> "<em>Software Optimization for Open-Channel Solid State Drives</em>", CollaborateCom 2021 </li>  
  <li> <strong>[2020]</strong> "<em>Erasure Codes for Fast Data Repairing in Distributed Storage Systems</em>", SRDS 2020 </li>
  <li> <strong>[2016]</strong> "<em>High Performance NVM-based Storage System</em>", HPCC 2016 </li>
</ol>